nav{
	background-color: white;
}
body{
	/*background-image: url("../img/slide-bg-complexity.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	*/
	background-color: green;
}
#toDoSection{
	background-color: blue;
}
#whatHappenSection{
	/*
	background-image: url("../img/news-and-events-bg.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	*/
	background-color: red;
}
#trueStoriesSection{
	background-color: lightgrey;
}
footer{
	background-color: black;
}