@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html { font-size: 62.5%; } 

* {
	border: 1px solid red;
}
body{
	font-family: 'Open Sans', Sans;
	font-size:100%;
	margin: 0;
	padding: 0;
	background-color: black;
}
.container{
	width:940px;
	margin:0px auto;
	position: relative;
}

a{
	text-decoration:none;
}

ul{
	list-style: none;
}


/* ----------------------------------   header   ------------------------------------- */

header{
	background-color: white;
	padding: 1rem;
}


nav{
	padding-top: 0px;
	padding-bottom: 0px;
}
.Logo{
	display: inline-block;
}
.navList{
	display: inline-block;
	margin: auto;
    width: 50rem;

	font-size: 1.4rem;
}

.langList{
	display: inline-block;
	margin: 0px;
	padding: 0px;

	width: 100%;
	font-size: 1.4rem;
}

.navList li{
	display: inline;
	text-transform: uppercase;
	text-align: center;
}

 header ul li+li:before{
 	padding: 0 0.6rem;
    content: '';
    position: relative;
    background: url(../img/divider.png) center center no-repeat;
}
header ul a+a:before{
 	padding: 0 0.8rem;
    content: '';
    position: relative;
    background: url(../img/divider.png) center center no-repeat;
}
.langList li{
	display: inline;
}


#header-side{
	display: inline-block;
	position: absolute;
	right: 0px;
	width: 17rem;
	height: 100%;
}
#header-side select{
	border:none;
}
.searchButton{
	position: absolute;
	bottom: 0;
	
	width: 100%;
}
.searchButton input[type=text]{

	background: url(../img/divider.png) 85% 50% no-repeat;
	box-sizing: border-box;
	width:100%;
	height: 2.3rem;
	border: 1px solid #d2d2d2;
	border-radius: 8px;
	box-sizing: border-box;
}
.searchButton input[type=submit]{
	position: absolute;
    top: 4px;
    right: 0px;
	
	border: none;
	background: url(../img/searchBtn.png) center no-repeat;
	background-repeat: no-repeat;
	width: 29px;
	cursor: pointer;
}


/* ----------------------------------   header END  ------------------------------------- */



/* ----------------------------------   main   ------------------------------------- */
main{
	background: url(../img/slide-bg-complexity.jpg) top center no-repeat fixed;
	box-shadow: 0 0 8px -2px #777 inset;
	padding: 5rem 0;
	color: white;
}

main h3 {
	margin-top: 0px;
    margin-bottom: 2rem;
    font-size: 2.7rem;
    letter-spacing: 0.2rem;
    font-weight: normal;
    line-height: 1;
}
h3 b {
    font-weight: bold;
}
main ul{
	padding-left: 0px;
}
p{
	font-size: 1.5rem;
	line-height: 1.2;
}

.button{
	display: block;
    position: relative;
    color: #fff;
    background: linear-gradient(#0C9EFF, #1188C4);
    padding: 0.5rem 1.2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.5);
}
.learnMore{
	font: 1.5rem/2 "Open Sans", sans-serif;
    width: 19rem;
    margin-bottom: 2rem;
}

.arrow {
    position: absolute;
    right: 0.2rem;
    top: 1.4rem;
    width: 2rem;
    height: 2rem;
    background: url(../img/btnArrow.png) no-repeat;
}
.slides-nav{
	margin-bottom: 10rem;
}
.slides-nav li a{
    background: #e5e5e5;
    color: #e5e5e5;
    float: left;
    margin-right: 1em;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    border-radius: 3px;
}

.slides-nav li a:hover{
    background: #1188C4;
    color: #1188C4;
}
.boxes{
	display: block;
	width:100%;
	height: 100%;
}
.box a{
	    color:white;
}
.box h2{
	font: 2.2rem/1.5 "Trebuchet MS", "Open Sans", sans-serif;
    margin: 2rem 1.5rem;
    text-transform: capitalize;
}
.box{
	width: 30%;
    height: 17rem;
    margin: 0 4rem 2rem 0;
    float: left;

    background-color: rgb(246, 68, 161);
    opacity: 0.85;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.5);
}
.box+.box{
	background-color: rgb(112, 191, 59);
}
.box+.box+.box{
	background-color: rgb(254, 111, 9);
    margin-right: 0;
}

.box p{
	position: relative;
    left: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.box span{
	position: absolute;
    width: 3rem;
    height: 3rem;
    background: url(../img/link-icon-image.png) no-repeat;
    top: -0.3rem;
    left: -3.5rem;
}
.box+.box span{
	background: url(../img/file-icon.png) no-repeat;
    top: -0.3rem;
    left: -3.5rem;
}
.box+.box+.box span{
	background: url(../img/play-icon.png) no-repeat;
    top: -0.3rem;
    left: -3.5rem;
}
.box:hover{
	opacity: 1;
}
/* ----------------------------------   main END   ------------------------------------- */




#toDoSection{
	background-color: blue;
}
#whatHappenSection{
	background-image: url("../img/news-and-events-bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#trueStoriesSection{
	background-color: lightgrey;
}
footer{
	background-color: black;
}

/*clear fix*/
.cf:after,
.cf:before {
	content: '';
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}